{% extends "sonic_beejoo/_base.html" %}
{% block content %}
{% csrf_token %}
<div class="container">
{% for good in goods %}
    <div class="col-md-2">
    <h3><a href="{% url 'good' good.id %}">{{ good.title }}</a></h3><br>
    <img class="img-circle" src="{{ good.img_uri.url }}" width="150" height="150">
    <h4>Цвета:</h4>
    {% for color in good.colors.all %}
         {{ color}}<br>
    {% endfor %}
    <h4>Состав:</h4>
    {% for des in good.design_types.all %}
         {{ des}}<br>
    {% endfor %}
    <h4>Цена: {{ good.price }} руб.</h4>
        <button data-id="{{ good.pk }}" class="btn btn-default">Добавить в корзину</button>
    </div>
{% endfor %}
</div>
{% endblock %}
